:root {
  --verde-claro: #1A7363;
  --verde-oscuro: #083022;
  --naranja: #BF5A36;
  --naranja-claro: #D9AE79;
  --naranja-oscuro: #892102;
  --gris-oscuro: #3C3C3B;
  --parrafo: #626262;

}

/* ===== Paddings ===== */

.vyg-pt-10 {
  padding-top: 10px;
}
.vyg-pt-15 {
  margin-top: 15px;
}
.vyg-pt-20 {
  padding-top: 20px;
}
.vyg-pt-25 {
  padding-top: 25px;
}
.vyg-pt-30 {
  padding-top: 30px;
}
.vyg-pt-35 {
  padding-top: 35px;
}
.vyg-pt-40 {
  padding-top: 40px;
}
.vyg-pt-45 {
  padding-top: 45px;
}
.vyg-pt-50 {
  padding-top: 50px;
}
.vyg-pt-55 {
  padding-top: 55px;
}
.vyg-pt-60 {
  padding-top: 60px;
}
.vyg-px-50 {
  padding: 50px 0;
}
.vyg-pb-10 {
  padding-bottom: 10Px;
}
.vyg-pb-20 {
  padding-bottom: 20Px;
}
.vyg-pb-30 {
  padding-bottom: 30Px;
}
.vyg-pb-40 {
  padding-bottom: 40Px;
}
.vyg-pb-50 {
  padding-bottom: 50Px;
}
.vyg-pb-60 {
  padding-bottom: 60Px;
}

.vyg-px-10 {
  padding: 10px 0;
}
.vyg-px-15 {
  padding: 15px 0;
}
.vyg-px-20 {
  padding: 20px 0;
}
.vyg-px-25 {
  padding: 25px 0;
}
.vyg-px-30 {
  padding: 30px 0;
}
.vyg-px-35 {
  padding: 35px 0;
}
.vyg-px-40 {
  padding: 40px 0;
}
.vyg-px-45 {
  padding: 45px 0;
}
.vyg-px-50 {
  padding: 50px 0;
}
.vyg-px-55 {
  padding: 55px 0;
}
.vyg-px-60 {
  padding: 60px 0;
}
.vyg-px-65 {
  padding: 65px 0;
}

/* ===== Margins ===== */

.vyg-mt-10 {
  margin-top: 10px;
}
.vyg-mt-15 {
  margin-top: 15px;
}
.vyg-mt-20 {
  margin-top: 20px;
}
.vyg-mt-25 {
  margin-top: 25px;
}
.vyg-mt-30 {
  margin-top: 30px;
}
.vyg-mt-35 {
  margin-top: 35px;
}
.vyg-mt-40 {
  margin-top: 40px;
}
.vyg-mt-45 {
  margin-top: 45px;
}
.vyg-mt-50 {
  margin-top: 50px;
}
.vyg-mt-55 {
  margin-top: 55px;
}
.vyg-mt-60 {
  margin-top: 60px;
}
.vyg-mt-70 {
  margin-top: 70px;
}
.vyg-mt-80 {
  margin-top: 80px;
}
.vyg-mt-90 {
  margin-top: 90px;
}
.vyg-mt-100 {
  margin-top: 100px;
}

/* ==== Margin Botton ==== */

.vyg-mb-5 {
  margin-bottom: 5px;
}
.vyg-mb-10 {
  margin-bottom: 10px;
}
.vyg-mb-15 {
  margin-bottom: 15px;
}
.vyg-mb-20 {
  margin-bottom: 20px;
}
.vyg-mb-25 {
  margin-bottom: 25px;
}
.vyg-mb-30 {
  margin-bottom: 30px;
}
.vyg-mb-35 {
  margin-bottom: 35px;
}
.vyg-mb-40 {
  margin-bottom: 40px;
}
.vyg-mb-45{
  margin-bottom: 45px;
}
.vyg-mb-50 {
  margin-bottom: 50px;
}
.vyg-mb-55 {
  margin-bottom: 55px;
}
.vyg-mb-60 {
  margin-bottom: 60px;
}
.vyg-mb-65 {
  margin-bottom: 65px;
}
.vyg-mb-70 {
  margin-bottom: 70px;
}
.vyg-mb-75 {
  margin-bottom: 75px;
}
.vyg-mb-80 {
  margin-bottom: 80px;
}
.vyg-mb-85 {
  margin-bottom: 85px;
}
.vyg-mb-90 {
  margin-bottom: 90px;
}
.vyg-mb-95 {
  margin-bottom: 95px;
}
.vyg-mb-100 {
  margin-bottom: 100px;
}


.w-full {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-line {
  line-height: 1.5em;
}
.ul-style-circle {
  list-style: circle !important;
}
.font-s-1 {
  font-size: 1em;
}
.font-s-1-5 {
  font-size: 1.5em;
}
.font-s-1-2 {
  font-size: 1.2em;
}
.font-s-2 {
  font-size: 2em;
}
.font-s-08 {
  font-size: 0.8em;
}
