/* ==== Fuentes ====

font-family: 'Courgette', cursive;
font-family: 'Hanken Grotesk', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans Thai', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;

*/

/* ==== Estilos Generales ==== */

*,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  box-sizing: border-box;
  background-color: aliceblue;
  height: 100%;
}

h1 {
  font-size: 1.8em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: var(--verde-claro);
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: var(--naranja-oscuro);
  margin: 30px 0;
  text-align: center;
}

h3 {
  font-size: 1.4em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--naranja-claro);
  text-align: center;
}

p {
  font-family: 'Merriweather', serif;
  font-weight: 500;
  color: var(--parrafo);
  text-align: center;
  line-height: 1.8em;
  font-size: 1.2em;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

.centrar-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.centrar-text {
  text-align: center;
}

.margen-top {
  margin-top: 100px;
}

/* ======= Estilos Medi querys generales ====== */

@media (min-width: 768px) {
  .container {
    width: 80%;
  }
  .margen-top {
    margin-top: 150px;
  }
}

/* -------------------------------------------------------------------------------------------------------------- */

/* ====== Estilos para la cabecera ====== */
.cabecera {
  height: 15px;
  width: 100%;
  border-top: 3px solid var(--naranja);
  background-color: var(--naranja-claro);
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1000;
}

.logo {
  width: 120px;
  height: 70px;
  background-color: var(--naranja-claro);
  border-radius: 0 0 250px 250px;
  margin-top: 0;
  position: relative;
  z-index: 1000;
}

.logo img {
  width: 70px;
  height: auto;
  position: absolute;
  top: 5px;
  left: 23px;

}

#bar-menu {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 19px 7px rgb(255, 255, 255);
}
.material-icons {
  font-weight: bold;
}


/* ======= __________________ Estilos Medi querys para Cabecera __________________ ====== */

@media (min-width: 768px) {
  #boton-menu {
    display: none;

  }

  .logo {
    width: 280px;
    height: 140px;
    max-width: 320px;
  }

  .logo img {
    width: 140px;
    top: 5px;
    left: 70px;

  }

}

/* ======= __________________ Fin Estilos Medi querys para Cabecera __________________ ====== */


/* ======= __________________ Estilos para Footer __________________ ====== */

.footer {
  background-color: var(--verde-oscuro);
}

.footer p {
  font-size: 1em;
}

.contenido-footer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.contenido-footer a {
  color: var(--verde-claro);
  font-size: 1.2em;
  line-height: 2em;
  text-transform: uppercase;
}

.footer-redes a {
  font-size: 1.8em;
  margin-left: 15px;
}

.copy {
  padding: 15px 0;
  background-color: #001f00;
}

/* ======= __________________ Estilos Medi querys para Footer __________________ ====== */

@media (min-width: 768px) {
  .contenido-footer {
    flex-direction: row;
    align-items: normal;
  }
  .contenido-footer h3 {
    font-size: 1.2em;
  }
  .contenido-footer a {
    font-size: 1em;
    transition: all .3s;
  }
  .menu-footer, .footer-redes{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenido-footer a:hover {
    color: #28bda0;
  }


}

/* ======= __________________ Fin Estilos Medi querys para Footer __________________ ====== */


/* --------------------------------------------------------------------------------------------------------------- */

/* ======= Estilos para la página principal index ====== */

.hero {
  background: url("/public/img/imagen-fondo.png") no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 50s ease-out infinite alternate hero;
}

.icono-menu {
  display: none;
  position: absolute;
  top: 15px;
  left: 40px;
  font-size: 2.5em;
  color: var(--verde-oscuro);
  transition: all .5s;
}

@keyframes hero {
  0% {
    background-position: left
  }
  50% {
    background-position: center
  }
  100% {
    background-position: left
  }
}

#boton-menu {
  width: 100%;
  padding: 20px;
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--naranja-claro);
  background-color: var(--naranja-oscuro);
  border: none;
  border-radius: 10px;
  transition: all .5s;
}

#boton-menu:hover {
  background-color: #bb2c02;
}

.contenedor-menu {
  display: flex;
  flex-direction: column;
}

.ocultar {
  display: none;
}

#nav-menu {
  display: none;
  background-color: var(--verde-claro);
  height: auto;
  transition: all 5s;
}

.ul-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ul-menu li {
  height: 70px;
}

.ul-menu li a {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #28bda0;
  padding-left: 40px;
  border-bottom: 1px solid var(--naranja-claro);
  transition: all .5s;
}

.ul-menu li a p {
  color: #28bda0;
  padding-right: 30px;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
}

/* ======= ________________ Media querys pagina Index ________________ ========== */

@media (min-width: 768px) {

  .hero {
    animation: 20s ease-out infinite alternate hero;
  }

  @keyframes hero {
    0% {
      background-position: top
    }
    50% {
      background-position: center
    }
    100% {
      background-position: top
    }
  }

  .icono-menu {
    display: none;
    position: absolute;
    top: 30px;
    left: 110px;
    font-size: 2.5em;
    color: var(--verde-oscuro);
    transition: all .5s;
  }

  .contenedor-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #nav-menu {
    display: flex;
    height: 160px;
    border-radius: 10px;
  }

  .ul-menu {
    flex-direction: row;
  }

  .ul-menu li {
    width: 100%;
    height: 160px;
    transition: all .3s;
  }

  .ul-menu li a {
    height: 160px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: #28bda0;
    padding-top: 20px;
    border: none;
    transition: all .3s;
  }

  .ul-menu li:hover {
    height: 175px;
    background-color: var(--verde-oscuro);
    border-bottom: 5px solid var(--naranja-claro);
  }

  .ul-menu li a i {
    background-color: #69f5d8;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

  }

  .ul-menu li a p {
    margin: 0;
    padding: 0;
    color: #28bda0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
  }

  i {
    font-size: 3.5rem !important;
    transition: all .5s;
  }

  .ul-menu li a:hover i {
    color: var(--verde-oscuro);
  }

  .ul-menu li a:hover p {
    color: #41f6d2;
  }
}

/* ======= ________________ Fin Media querys pagina Index ________________ ========== */


/* ======= ---------------------------------- Estilos para Paginas -------------------------------- ========= */

/* === pagina Login y Create user === */
.contenedor-login,
.contenedor-create-user{
  padding-top: 130px;
  padding-bottom: 100px;
}



/* ======= ________________ Media querys pagina Login y Create user  ________________ ========== */
@media (min-width: 768px) {
  .card {
    width: 50%;
    margin: 0 auto;
  }
  .contenedor-login,
  .contenedor-create-user{
    padding-top: 230px;
    padding-bottom: 100px;
  }
}
/* ======= ________________ Fin Media querys pagina Login y Create user ________________ ========== */

/* === pagina inicio === */

.contenedor-superior-inicio {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image-superior-inicio {
  width: 100%;
}

.info-superior-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 15px;
}

.info-superior-inicio p {
  text-align: center;
}

.info-superior-inicio span {
  font-size: 2em;
  font-style: italic;
  font-weight: 100;
  font-family: 'Ubuntu', sans-serif;
  color: var(--naranja);
}

.contenedor-nosotros {
  display: flex;
  flex-direction: column;
}

.contenedor-nosotros p {
  text-align: justify;
}

.contenedor-nosotros strong {
  font-size: 1.2em;
  font-family: 'Merriweather', serif;
}

.seccion-elegirnos-inicio {
  background-color: #dadada;
}

.btn-action {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.btn i {
  font-size: 1.2em !important;
}
.slaider-clientes  p {
  font-size: 0.9em;
}



/* ======== _________________ Estlos Media query para pagina inicio ________________ ========= */

@media (min-width: 768px) {

  p {
    font-size: 1em;
  }
  .contenedor-superior-inicio {
    flex-direction: row;

  }
  .image-superior-inicio{
    width: 50%;
  }
  .info-superior-inicio {
    width: 50%;
  }

  .contenedor-nosotros {
    flex-direction: row;
    padding: 50px 0;
    justify-content: space-between;
  }
  .imagen-elegirnos {
    width: 50%;
    display: flex;
    justify-content: right;
  }
  .imagen-elegirnos img {
    width: 60%;

  }
  .info-elegirnos {
    width: 50%;
  }
  .contenedor-clientes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  .titulo-dicen-clientes {
    width: 50%;
  }
  .slaider-clientes {
    width: 50%;
  }

  .nombre-cliente {
    color: var(--naranja-oscuro);
  }
  .btn-action {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .btn-large i {
    font-size: 1.3em !important;
  }
}


/* === Pagina servicios === */

.jumbo-servicios {
  background: url("/public/img/flexometro-cel.png") no-repeat center/50%;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
  height: 200px;
}
.titulo-pagina {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: 15px 3px 15px 3px;
  background-color: var(--verde-claro);
  margin-bottom: -15px;
}
.titulo-pagina h2 {
  padding: 0;
  margin: 0;
  color: var(--naranja-claro);
}
.contenedor-servicios {
  margin-top: 30px;
}
.uk-card {
  width: 100%;
  margin-bottom: 20px;
}
.uk-text-meta {
  font-size: 0.8em !important;
}
.uk-card-footer {
  display: flex;
  justify-content: center;
}

/* ====== _______________ Media query para pagina servicios _______________ ====== */

@media (min-width: 768px) {
  .jumbo-servicios {
    background: url("/public/img/flexometro-midiendo.png") no-repeat center/500%;
    background-size: cover;
    height: 300px;
  }
  .titulo-pagina {
    padding: 5px 50px;
  }
  .uk-card-body p {
    font-size: 0.8em !important;
  }

}


/* === Pagina Nosotros === */

.jumbo-nosotros {
  background: url("/public/img/sobre-nosotros-cel.jpg") no-repeat center/50%;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
  height: 200px;
}

/* ====== _______________ Media query para pagina Nosotros _______________ ====== */
@media (min-width: 768px) {
  .jumbo-nosotros {
    background: url("/public/img/sobre-nosotros.jpg") no-repeat center/200%;
    background-size: cover;
    height: 300px;
  }
}

/* === Pagina Cocinas === */

.jumbo-cocinas {
  background: url("/public/img/cocina-integral-jumbo.jpg") no-repeat center/50%;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
  height: 200px;
}

/* ====== _______________ Media query para pagina Cocinas _______________ ====== */
@media (min-width: 768px) {
  .jumbo-cocinas {
    background: url("/public/img/cocina-integral-jumbo.jpg") no-repeat center/200%;
    background-size: cover;
    height: 300px;
  }
}

/* === Pagina Closets === */

.jumbo-closets {
  background: url("/public/img/closet-jumbo-cel.jpg") no-repeat center/50%;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
  height: 200px;
}

/* ====== _______________ Media query para pagina Closets _______________ ====== */
@media (min-width: 768px) {
  .jumbo-closets {
    background: url("/public/img/closet-jumbo.jpg") no-repeat center/200%;
    background-size: cover;
    height: 300px;
  }
}

/* === Pagina Mueble de baño === */

.jumbo-banio {
  background: url("/public/img/mueble-baño-jumbo-cel.jpg") no-repeat center/50%;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
  height: 200px;
}

/* ====== _______________ Media query para pagina mueble de baño _______________ ====== */
@media (min-width: 768px) {
  .jumbo-banio {
    background: url("/public/img/mueble-baño-jumbo.jpg") no-repeat center/200%;
    background-size: cover;
    height: 300px;
  }
}

/* === Pagina Centros de entretenimiento === */

.jumbo-centros {
  background: url("/public/img/centro-de-entretenimiento-jumbo-cel.jpg") no-repeat center/50%;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
  height: 200px;
}

/* ====== _______________ Media query para pagina Centros de entretenimiento _______________ ====== */
@media (min-width: 768px) {
  .jumbo-centros {
    background: url("/public/img/centro-de-entretenimiento-jumbo.jpg") no-repeat center/200%;
    background-size: cover;
    height: 300px;
  }
}

/* === Pagina Oficina === */

.jumbo-oficina {
  background: url("/public/img/oficina-jumbo-cel.jpg") no-repeat center/50%;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
  height: 200px;
}
/* ====== _______________ Media query para pagina Oficina _______________ ====== */
@media (min-width: 768px) {
  .jumbo-oficina {
    background: url("/public/img/oficina-jumbo.jpg") no-repeat center/200%;
    background-size: cover;
    height: 300px;
  }
}



